<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Chatty.us</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fa-brands fa-rocketchat"></i> Chatty.us</h1>
      <a class="btn logout-btn">Log out</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fa-solid fa-user-group"></i> Friends</h3>
        <ul class="friend-list">
        </ul>
      </div>

      <div class="abc">
        <div class="msg-container">
          <div class="chat-messages">

          </div>
        </div>
      </div>

    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          class="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <div class="btn icon-btn clickable">
          <i class="fa-regular fa-face-smile"></i>
          <ul class="emoji-table">
            <li class="emoji-item" onclick="fillEmoji('&#128516;')">&#128516;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128512;')">&#128512;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128513;')">&#128513;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128514;')">&#128514;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128517;')">&#128517;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128519;')">&#128519;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128520;')">&#128520;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128525;')">&#128525;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128526;')">&#128526;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128531;')">&#128531;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128545;')">&#128545;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128546;')">&#128546;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128547;')">&#128547;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128548;')">&#128548;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128549;')">&#128549;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128558;')">&#128558;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128560;')">&#128560;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128561;')">&#128561;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128563;')">&#128563;</li>
            <li class="emoji-item" onclick="fillEmoji('&#128564;')">&#128564;</li>
          </ul>
        </div>
        <input id= "file-input" style="display: none;" type="file" accept="*/*">
        <label for="file-input" class="btn file-btn clickable"><i class="fa-solid fa-paperclip"></i></label>
        <label for="file-input" class="file-note clickable">No selected file</label>
        <button class="btn send-btn"><i class="fa-solid fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
  <script src="../js/chat.js"></script>
</body>
</html>