<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/app.css">
  <link rel="stylesheet" href="../public/fontawesome-free-6.2.0-web/css/all.min.css">
  <title>Chatty.us</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1><i class="fa-brands fa-rocketchat"></i> Chatty.us</h1>
      <a class="btn logout-btn">Logout</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fa-solid fa-user-group"></i> Friends</h3>
        <ul class="friend-list">
        </ul>
      </div>

      <div class="abc">
        <div class="msg-container">
          <div class="chat-messages">
          </div>
        </div>
      </div>

    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          class="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
        />
        <input id= "file-input" style="display: none;" type="file" accept="image/*, .zip">
        <label for="file-input" class="btn file-btn clickable"><i class="fa-solid fa-paperclip"></i></label>
        <label for="file-input" class="file-note clickable">No selected file</label>
        <button class="btn send-btn"><i class="fa-solid fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
  <script src="../public/js/app.js"></script>
</body>
</html>